@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    background: hsl(0, 0%, 95%);
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.car {
    display: flex;
}

#sedan {
    background-color: hsl(31, 77%, 52%);
}

#suv {
    background-color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
}

h2 {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}

h3 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

.button {
    font-family: 'Big Shoulders Display', cursive;
    background: hsl(0, 0%, 95%);
    text-decoration: none;
    border-radius: 36px;
    padding: 5px;
}

#btn-sedan {
    color: hsl(31, 77%, 52%);
}

#btn-suv {
    color: hsl(184, 100%, 22%);
}

#btn-luxury {
    color: hsl(179, 100%, 13%);
}

footer {
    position: fixed;
    left: 0;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }